{% extends "learning_logs/base.html" %}

{% block content %}
    <h1>hello this is my library</h1>
    {% if documents %}
        <ul>
        {% for f in documents %}
            <li><a href="{% url 'mylibrary:player' f %}">{{ f }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No files are available.</p>
    {% endif %}   
    </div>
    <form action="{% url 'mylibrary:index' %}" method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>
        <button name='submit'>上传文件</button>
    </form>
{% endblock content %}