[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
django-celery-beat = "*"
feedparser = "*"
requests = "*"
redis = "*"
django-celery-results = "*"
django = "*"

[dev-packages]
pylint = "*"

