[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[packages]
celery = "*"
django-celery-beat = "*"
feedparser = "*"
requests = "*"
django-celery-results = "*"
django = "*"
djangorestframework = "*"
mysqlclient = "*"
geoip2 = "*"

[dev-packages]
pylint = "*"
